<a href="https://colab.research.google.com/github/garciamontes-hue/Actividade1/blob/main/Lista_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Importe a biblioteca math e use a função sqrt() para calcular a raiz quadrada de 256.

In [ ]:
# Exemplo de importação de módulo
import math
math.sqrt(256)

16.0

2. Utilize o módulo random para gerar um número aleatório entre 1 e 10

In [ ]:
import random

num_aleatorio = random.randint(1, 10)
num_aleatorio

7

3. Escreva um loop for que imprime números de 1 a 10.

In [ ]:
# Exemplo de laço for
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

4. Utilize um loop while para imprimir os números de 10 até 1 em ordem decrescente.

In [ ]:
# Exemplo de laço while
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

5. Crie um programa que pergunte ao usuário um número e determine se ele é par ou ímpar.

In [ ]:
num = int(input("Digite um número: "))
if num % 2 == 0:
    print("O número é par.")
else:
    print("O número é ímpar.")

Digite um número: 75
O número é ímpar.

6. Defina uma função saudacao() que recebe um nome como argumento e imprime "Olá, [nome]!"

In [ ]:
def saudacao(nome):
    print(f"Olá, {nome}!")

saudacao("Maria")

Olá, Maria!

7. Escreva uma função maximo() que recebe dois números como argumentos e retorna o maior deles.

In [ ]:
def maximo(a, b):
    return a if a > b else b

print("Maior número entre 5 e 9:", maximo(5, 9))

Maior número entre 5 e 9: 9

8. Crie uma string "Python" e use slicing para obter a substring "thon".

In [ ]:
texto = "Python"
substring = texto[2:]
print(substring)

thon

In [ ]:
texto = "Python"
substring = texto[:2]
print(substring)

Py

9. Inverta a string "Python" usando slicing.

In [ ]:
invertida = texto[::-1]
print(invertida)

nohtyP

10. Crie uma lista com os números de 1 a 5 e adicione o número 6 ao final da lista.

In [ ]:
lista = [1, 2, 3, 4, 5]
lista.append(6)
print("Lista após adicionar 6:", lista)

Lista após adicionar 6: [1, 2, 3, 4, 5, 6]

11. Remova o número 3 da lista anterior.

In [ ]:
lista = [1, 2, 3, 4, 5]
lista.remove(3)
print(lista)

[1, 2, 4, 5]

12. Crie uma tupla com os números de 1 a 5 e tente alterar o valor do terceiro elemento para 10.

In [ ]:
tupla = (1, 2, 3, 4, 5)
try:
    tupla[2] = 10
except TypeError:
    print("Não é possível modificar uma tupla")

Não é possível modificar uma tupla

13. Crie um dicionário com chaves sendo os dias da semana e os valores os números correspondentes (1 para Segunda, 2 para Terça, etc.).

In [ ]:
dias = {
    "Segunda": 1,
    "Terça": 2,
    "Quarta": 3,
    "Quinta": 4,
    "Sexta": 5,
    "Sábado": 6,
    "Domingo": 7
}
print("Dicionário original:", dias)

Dicionário original: {'Segunda': 1, 'Terça': 2, 'Quarta': 3, 'Quinta': 4, 'Sexta': 5, 'Sábado': 6, 'Domingo': 7}

14. Adicione um par chave-valor ao dicionário anterior: “Feriado” com o valor 0.

In [ ]:
dias["Feriado"] = 0
print(dias)

{'Segunda': 1, 'Terça': 2, 'Quarta': 3, 'Quinta': 4, 'Sexta': 5, 'Sábado': 6, 'Domingo': 7, 'Feriado': 0}

15. Crie um conjunto com os números 1, 2, 3, 4 e 5 e adicione o número 6.

In [ ]:
conjunto = {1, 3, 2, 4, 5}
conjunto.add(6)
print(conjunto)

{1, 2, 3, 4, 5, 6}

16. Remova o número 3 do conjunto anterior.

In [ ]:
conjunto.remove(3)
print(conjunto)

{1, 2, 4, 5, 6}

17. Escreva um programa que lê uma lista de números do usuário e imprime o maior e o menor número.

In [ ]:
numeros = input("Digite vários números separados por espaço: ")
lista_numeros = [int(x) for x in numeros.split()]
print("Maior número:", maximo(lista_numeros))
print("Menor número:", minimo(lista_numeros))

Digite vários números separados por espaço: 8 9 1

NameError: name 'maximo' is not defined

18. Faça um programa que lê uma frase do usuário e conta quantas vezes aparece a letra ‘a’.

In [ ]:
frase = input("Digite uma frase: ")
contador_a = frase.lower().count('a')
print("A letra 'a' aparece", contador_a, "vezes.")

Digite uma frase: majo Garcia
A letra 'a' aparece 3 vezes.

19. Crie um programa que converte uma temperatura de Celsius para Fahrenheit.

In [ ]:
celsius = float(input("Digite a temperatura em Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}°C equivalem a {fahrenheit}°F")

Digite a temperatura em Celsius: 345
345.0°C equivalem a 653.0°F